.sidebar {
    height: 100%;
    flex: .35;
    border-right: 1px solid lightgrey;
    display: flex;
    flex-direction: column;

    .sidebar_header {
        padding: 10px;
        max-height: 60px;
        background-color:rgb(254, 255, 237);
        display: flex;
        justify-content: space-between;
        align-items: center;

        &_icons {
            display: flex;
            align-items: center;
            justify-content: space-between;
            color: rgb(62, 62, 62);
            margin-right: 10px;
            width: 8vw;

            & > button mat-icon {
                margin-right: 5vw;
                font-size: 24px;
            }

        }
    }

    &_search {
        background-color: #f6f6f6;
        border-bottom: 1px solid #ccc;
        padding: 10px;
        display: flex;
        justify-content: center;
        position: relative;

        &_content {
            width: fit-content;
            position: relative;

            &_icon {
                position: absolute;
                top: -5%;
                left: 0px;
                color: rgb(59, 59, 59);
                font-size: 14px;
            }

            &_input {
                border: 1px solid lightblue;
                width: 388px;
                outline: none;
                border-radius: 20px;
                padding: 8px 20px 8px 30px;

                &::placeholder {
                    padding-left: 2.5rem;
                    font-size: small;
                }
            }
        }

    }

    &_content {
        overflow-y: scroll;
        flex: 1;
    }
}